:root {
  --light: hsl(0deg 0% 95%);
  --lightText: hsla(0deg 0% 11%);

  --dark: hsl(0deg 0% 11%);
  --darkText: hsla(0deg 0% 85%);

  --bg: var(--dark);
  --text: var(--darkText);
  --u: 8px;
  --transition: background-color 1s ease-out, color 1s ease-out;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--light);
    --text: var(--lightText);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--bg);
  color: var(--text);
  /* font-family: Inter, sans-serif; */
  transition: border-bottom;
}

body.transition {
  transition: var(--transition);
}

@media (prefers-reduced-motion: reduce) {
  body {
    transition: none !important;
  }
}

h1 {
  width: fit-content;
  padding-bottom: var(--u);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

/* h1::before, */
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: "## ";
  position: absolute;
  left: -2em;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h7 a {
  padding-bottom: var(--u);
  /* display: block; */
}
a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px transparent solid;
}
a:hover {
  border-bottom-color: 1px var(--text) solid;
  border-bottom-style: dashed;
}

p {
  margin: 0;
}

th {
  font-weight: normal;
  font-style: italic;
}

thead tr {
  border-bottom: 1px var(--text) solid;
}

th,
td {
  text-align: left;
  padding-left: var(--u);
  padding-right: var(--u);
}
