.root {
  box-sizing: border-box;
  display: grid;
  padding: calc(var(--u) * 6);
  padding-right: var(--unit);
  font-size: 18px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
